body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;

}

#clockContainer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#time {
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #444;
}

#btn {
    margin-top: 20px;
}