body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("gym.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}


nav {
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0px 0px 5px 3px rgb(243, 92, 5);
    border: 2px solid rgb(177, 71, 33);
    border-radius: 35px;
    padding: 15px;
    width: 70%;
    margin: 40px auto;
}

nav a:hover {
    color: rgb(238, 83, 11);
    text-decoration: underline;
    background-color: rgba(189, 108, 41, 0.2);
    border-radius: 10px;

}

nav a {
    color: rgb(46, 11, 241);
    text-decoration: none;
    font-size: 25px;
    width: 100px;
    text-align: center;

}

button {
    background-color: yellow;
    color: rgb(7, 7, 7);
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-weight:900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button:hover {
    border-radius: 20px;
    color: rgb(18, 4, 204);
    text-decoration: underline;
    font-weight: 900;
    font-size: 15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-decoration: underline;
    font-weight: 900;
}

h1 {
    text-decoration: underline;
}

#home {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about {
    margin-top: 35px;
    padding-left: 20px;

}

.plan {
    height: 150px;
    width: 150px;
    padding: 0px 85px;
    text-align: center; 
    border: 5px solid grey;
    border-radius: 15px;
    margin: 10px;
    
}
#plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.plan h2{
    box-shadow: 0px 0px 10px 1px  rgb(230, 151, 4);
    border-radius: 10px;
}

#contact {
    margin-top: 60px;
    float: right;
}
#contact h2{
   font-weight: normal;
   font-family: sans-serif;
}
