html 
head 
style 
    include ../public/style.css
body 
    nav
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/fetures">Feature</a>
        <a href="/contact">Contact us</a>
    section#abco 
        section#about 
            h2 About 
            ul
                li I have many teachers in our coaching and all teachers 5 year experienced.
                li teachers expert in him field.
                li We goal make topper every student.
                li This is the reason that much topper in our RC coaching every year.
           
        section.logo 
            img(src="logo.png", alt="NO image")

        section#contact 
            h2 Contact us
            p Address: New Delhi, Sarita Viha
            p Phone: 915284825
            p Email: RcEducation.com


    section#main 

        section#course 
            h2 All courses available in my coaching.
            ul
                li Class 9 to 12 all stream (Science, Art, Comerce with all boards)
                li JEE/NEET foundation
                li Computer all courses (computer Basic, python, Web development etc.)

        section#mainbox 

            h1 RC Education
            
            a(href="/form")
                button Join Now

    h2#headline Topper Result 

    section#result 
        .show 
            h3 Rohit Chaudhary
            h3 96.4% (Bihar Board)

        .show 
            h3 Mukesh Yadav
            h3 93.2% (UP Board)

        .show 
            h3 Raushan bidhuri
            h3 91.6% (Jharkhand Board)

        .show 
            h3 Shyam gupta
            h3 90.2% (Bihar Board)

        section#Facilities 
            h2 Facilities 
            ul
                li Live Class 
                li Dought Class 
                li Test Series 
                li Smart Class 