doctype html 
html 
    head 
        title Blog Website 
        link(rel="stylesheet", href="style.css")
    body 
        h1 Latest Blog Posts 

        .container 
            each post in posts 
                .card 
                    h2= post.title 
                    p.date= post.date 
                    p= post.short 
                    a.btn(href=`/post/${post.id}`) Read more
